<table mat-table [dataSource]="parkingLotsList" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Id Column -->
    <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- LicensePlateId Column -->
    <ng-container matColumnDef="LicensePlateId">
        <th mat-header-cell *matHeaderCellDef> LicensePlateId </th>
        <td mat-cell *matCellDef="let element"> {{element.licensePlateId}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>