<div class="check-out-container">
    <form (submit)="checkOut()" #vehicleFormInfo="ngForm">
        <!-- Fields-->
        <mat-form-field>
            <mat-label>License Plate Number</mat-label>
            <input matInput type="text" name="licensePlateId" minlength="4" maxlength="10"
                [(ngModel)]="licensePlateId" #licensePlateIdInfo="ngModel" required />
            <mat-error *ngIf="licensePlateIdInfo.errors?.required">Please enter your license plate number</mat-error>
        </mat-form-field>
        <br><br>


        <button class="check-out-button" mat-stroked-button>
            <mat-icon>cancel</mat-icon> Check Out
        </button>
    </form>
</div>