.check-out-container {
    width: 500px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.check-out-button {
    position: relative;
    left: 15%;
}